<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

    <!-- Servlets -->

    <servlet>
        <servlet-name>HealthServlet</servlet-name>
        <servlet-class>com.gd.ashylin.crawler.HealthServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ResultsServlet</servlet-name>
        <servlet-class>com.gd.ashylin.crawler.ResultsServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>StatusServlet</servlet-name>
        <servlet-class>com.gd.ashylin.crawler.StatusServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>CrawlersServlet</servlet-name>
        <servlet-class>com.gd.ashylin.crawler.CrawlersServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>SuspendServlet</servlet-name>
        <servlet-class>com.gd.ashylin.crawler.SuspendServlet</servlet-class>
    </servlet>


    <!-- Mapping -->

    <servlet-mapping>
        <servlet-name>HealthServlet</servlet-name>
        <url-pattern>/health</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ResultsServlet</servlet-name>
        <url-pattern>/results/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>StatusServlet</servlet-name>
        <url-pattern>/status/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>CrawlersServlet</servlet-name>
        <url-pattern>/crawlers/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>SuspendServlet</servlet-name>
        <url-pattern>/suspend/*</url-pattern>
    </servlet-mapping>


    <!-- Resources -->

    <resource-ref>
        <res-ref-name>jdbc/h2</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>
</web-app>
